

.Heading{
    font-weight: bold;
    font-size: larger;
    padding: 4px 24px;
    text-align: center;
}

.options{
    padding: 12px 24px;
}

.questionBox{
    padding: 32px 64px;
    height: 40%;
}

.question{
    font-size: medium;
}

.cardStyles{
    height: 70vh;
    margin: 24px;
  }

.topNav{
    color: white;
    background-color: #108ee9;
    height: 60px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    line-height: 60px
  };


